// app global css in Stylus form
-webkit-scrollbar
  width 9px
  height 9px
  background-color transparent
.q-scrollarea__thumb,-webkit-scrollbar-thumb
  border-radius 9px
  opacity .4
  background-color $primary
html,body
  background $base
  background-size cover
  color $dark
  font-family 'Roboto', '-apple-system', 'Helvetica Neue', 'Microsoft YaHei', Helvetica, Arial, sans-serif
h1,h2,h3,h4,h5,h6
  margin 0
.list-move
  transition transform 1s ease-out
.list_shorter-move
  transition transform .2s ease-out
.ani
  transition all .4s ease-out
.ani_slow
  transition all 1s ease-out
a
  color $primary

.q-field--auto-height.q-field--labeled
  .q-field__control-container
    padding-top: 8px
.q-item__section--side
  padding-right: 0

.q-field--dense
  .q-field__control
    height: 36px

  .q-field__marginal
    height: 36px

.q-field--auto-height.q-field--dense
  .q-field__control, .q-field__native
    min-height: 36px
.q-table th
  font-size: 14px
.q-tab__label
  font-size: 14px
.q-btn__wrapper
  padding: 0px 14px 0px 14px
  min-height: 32px
  .q-btn__content
      .on-left
        margin-right 2px; 
.q-table
  thead
    th,td
      position sticky
      top 0
      font-size 14px
      transition none
      opacity 1
      z-index 1
      color $t-dark
    tr
      background #fafafa
      th
        padding: 0px 8px !important
        position sticky
        top 0
        z-index 1
    trnth-child(even)
      background #eee
  tbody
    trnth-child(even)
      background #f8f8f8
    td
      font-size 14px
      padding 0px 16px !important
.view_title
  display flex
  align-items center
  height 50px
  color $white
  font-size 18px

@media screen and (min-width:780px)
  .dialog_card
    background $white
    min-width 780px
    height 100vh
    pointer-events all
    >.view_title
      background $primary
@media screen and (max-width:780px)
  .dialog_card
    background $white
    min-width 400px
    height 100vh
    pointer-events all
    >.view_title
      background $primary
.dialog_tool
  background $white
  min-width 100vw
  height 100vh
  pointer-events all
  >.view_title
    background $primary
.dialog_form
  >div
    min-height 95px
  h5
    font-size 14px
    >ifirst-child
      transform translate(0,-2px)
.q_b_toggle
  width 100%
  border 1px $primary solid
  color $primary
  box-shadow unset
  >button
    flex 999 1 0%
    .q-btn__wrapper
      padding 0
.q_b_tabs
  border-bottom 1px $light solid
  .q-tab--active
    color $primary

.toggle_btn
  border 1px $primary solid
  color $t-grey

.cross_table
  border-radius 0 !important
  border 1px $light solid

.cc-header
  align-items center
  justify-content space-between
  display flex
  flex-wrap wrap
  margin-bottom 16px
  
.grid-item-select {
  flex 1
  border-style dashed
  border-width 2px
  border-color #00bfff
  touch-action none
}

.cc-active-class
  border 1px dashed #1890ff

.cc-un-active-class
  border 1px dashed lightgrey

.cc-shadow-blue
  box-shadow 0 0 6px 0 #1890ff
/* 滚动条宽度 */
-webkit-scrollbar
  width 7px
  height 3px

/* 滚动条的滑块 */
-webkit-scrollbar-thumb
  background-color lightskyblue
  border-radius 3px
