// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #1576e8
$primary-light = #cdf
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$positive-light = #beb
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$white     = #fff
$base      = #f0f4f8
$light     = #c8d5ea
$sky       = #63a0f2
$dark      = #222
$t-grey    = #6d7fa4
$t-dark    = #4b576f
$ash = #bbb
$snow = #ddd
